body {
    margin: 0;
	padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
section {
    width: 80vw;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
}
a {
    text-decoration: none;
    color: #00A6E6;
}
h1 {
    font-weight: 700;
}

h1, h2 {
    color: #2C5696;
}

p {
    font-size: 18px;
    line-height: 145%;
    margin: 0;
}

li {
    list-style-type: none;
}

.content {
    margin-left: 25vw;
    display: flex;
    flex-direction: column;
}

.sidebar {
    width: 25%;
    height: 100vh;
    min-width: 200px;
    background-color: #2C5696;
}

.sidebar .w3-button{
    color: #ffffff;
    text-align: right;
}

nav {
    margin-top: 200px;
    }

nav ul {
    /*display: flex;
    flex-direction: column;
    justify-content: space-between;*/
    padding-left: 0px;
}

nav li {
    height: 80px;
    border-bottom: solid 1px #ffffff;
    display: flex;
    align-items: center;
    padding-left: 8px;
}

nav li a{
    color: #ffffff; 
    font-size: 18px;
}

header {
    height: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.w3-button {
    color: #2C5696;
}

.w3-button:hover {
    color: #00A6E6!important;
    background-color: rgba(44,86,150,0.2)!important;
}

img {
    padding: 8px 16px;
}

.main {
    padding-left: 16px;
    margin-bottom: 200px;
}

.heading {
    font-size: 32px;
    font-weight: 900;
    padding-bottom: 36px;
}

.text p {
    padding-bottom: 32px;
}

footer {
    position: fixed;
    bottom: 0;
    right: 10vw;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 100px;
}

footer p {
    position: absolute;
    color: #ffffff;
    text-align: center;
    font-weight: 500;
    padding-right: 16px;
}

.shape {
    width: 25vw;
    height: 25vh;
    min-width: 300px;
    min-height: 200px;
    background-color: #2C5696;
    z-index: -1;
    transform: rotate(-15deg);
}

/*responsivenes*/

@media screen and (max-width: 1240px) {
    section {
        width: 100vw;
    }

    h1 {
        font-size: 1.5em;
    }

    .shape {
        min-width: 400px;
        min-height: 200px;
    }
}

@media screen and (max-width: 992px) {

    .shape {
        width: 60vw;
        height: 30vh;
        min-width: 400px;
        min-height: 200px;
    }

    .sidebar {
        position: fixed;
        left: 0;
        width: 80vw;
        max-width: 480px;
    }

    h1 {
        font-size: 1em;
    }

    header {
        display: flex;
        justify-content: space-between;
    }

    .content {
        margin-left: 0;
        position: fixed;
        left: 0;
        width: 100%;
    }

    .main {
        margin-bottom: 10px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1px;
    }

    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        justify-content: center;
        width: 100%;
        right: 0;
        /*background-color: #2C5696;*/
    }
}